h1
{
    color:  red;
}
h5
{
    color: red;
    font-size: 10x;
    font-family: Arial, Helvetica, sans-serif;
}
h3
{
    color: red;
}
h2
{
    color:  red;
}
h4
{ 
   color:  red;
}   
p
{ 
    color: red;
}
u
{
    color: orangered;
}

