h1
{
    color:  white;
}
h5
{
    color: white;
    font-size: 10x;
    font-family: Arial, Helvetica, sans-serif;
}
h3
{
    color: white;
}
h2
{
    color:  white;
}
h4
{ 
   color:  white;
}   
p
{ 
    color: white;
}
u
{
    color: #79ddfc;
}